@model IEnumerable<test.Models.Posts>

@{
    ViewBag.Title = "Home";
}

<h2>Index</h2>

<p>
    <a href="/Posts/Create"><button class="mb-1 btn btn-danger" type="button">Create a Post</button></a>
</p>


@foreach (var item in Model)
{
    <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">


        <div class="text">
            <h4 class="subheading"> @Html.DisplayFor(modelItem => item.title)</h4>
            <h2 class="heading">@Html.DisplayFor(modelItem => item.description)</h2>
            <p>@Html.DisplayFor(modelItem => item.content)</p>
            <p> @Html.ActionLink("View Comments", "ViewComments", new { id = item.id }) </p>
            <p> @Html.ActionLink("AddComment", "AddComment", new { id = item.id }) </p>
        </div>
    </div>

    <p>@Html.ActionLink("Edit Post", "Edit", new { id = item.id }) </p>

    <a href="@Url.Action("Delete", "Posts", new { id = item.id })"><button class="mb - 1 btn btn-success" type="button">Delete</button></a>
    

}

