@model IEnumerable<test.Models.Parents>

@{
    ViewBag.Title = "Parent";
}

<h2>PROFIL</h2>



<div class="container">
    <section class="ftco-section">
        @if (Model != null)

        {
            foreach (var item in Model)
            {

                <h1 class="mb-4" style="color: mediumvioletred "> @Html.DisplayFor(modelItem => item.name)</h1>
                <div class="row">
                    <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
                        <td><img src="~/Content/photo/@Html.DisplayFor(modelItem => item.photo)" height="400px" width="380px" class="rounded-circle" alt=""></td>
                        <div class="text">
                            <ul>
                                <li> EMAIL : @Html.DisplayFor(modelItem => item.mail)</li>
                                <li>PHONE NUMBER : @Html.DisplayFor(modelItem => item.phone_number)</li>
                                <li>ADRESS: @Html.DisplayFor(modelItem => item.adress)</li>
                                <li>
                                    CHILDREN NAME:
                                    @Html.DisplayFor(modelItem => item.child_name)
                                </li>
                                <li>
                                    BIRTHDAY :
                                    @Html.DisplayFor(modelItem => item.dateNaissance)
                                </li>
                                <li>KINDERGARTEN NAME : @Html.DisplayFor(modelItem => item.kindergartenname)</li>
                                <li>INSCRIPTION DATE : @Html.DisplayFor(modelItem => item.date_inscrit)</li>

                            </ul>



                        </div>








                    </div>


                    <div class="btn-group">
                        <button class="btn btn-primary px-4 " onclick="myFunction1()"> Notifications </button>                       
                        <button class="btn btn-primary px-4 " onclick="myFunction()"> @Html.ActionLink("Satisfactions And Reclamations", "SendMailSat", "Parents")</button>
                        <button class="btn btn-primary px-4 "> @Html.ActionLink("LIST OF PARENTS", "Index", "Parents")</button>
                        <button class="btn btn-primary px-4 ">@Html.ActionLink("LIST OF GENDERGARTEN SORTED BY NUMBER OF LIKES ", "Kindergarten", "Parents")</button>
                        <button class="btn btn-primary px-4 ">@Html.ActionLink("EDIT PROFIL", "Edit", new { id = item.id },null)</button>


                    </div>
                </div>
            }
        }


    </section>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function myFunction() {
        alert("CONSULTEZ VOTRE BOITE EMAIL!\nRmplissez la formulaire de satisfaction et donnez vos reclamations ");
    }
</script>
<style>
    #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
    }
</style>
<div id="myDIV">
    Vous n'avez pas atteindre la fin du mois , vous avez plus du temps pour payer.
</div>
<script>
    function myFunction1() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>